In [1]:
import requests 
import pandas as pd
import json
import numpy as np

In [2]:
def polygon_area(points):
    area = 0
    q = points[-1]
    for p in points:
        area += p[0] * q[1] - p[1] * q[0]
        q = p
    return area / 2

In [3]:
cores=["-77.018798,38.910730","-76.984152,38.904466","-76.991153,38.880580","-77.026214,38.895171",
      "-77.031821,38.905202","-77.042047,38.897675","-77.077305,38.913979","-77.059321,38.937563",
      "-77.036869,38.920003","-77.030272,38.933282","-77.023408,38.954521","-77.035392,38.977830",
      "-77.063297,38.966898","-77.092401,38.939452","-76.993028,38.938160","-76.971420,38.928633",
      "-76.937517,38.892334","-76.977764,38.860861","-77.021224,38.879790","-77.004226,38.832708",
      "-77.040762,38.908050","-77.052083,38.901120"]

In [4]:
profile=["driving/","walking/","cycling/"]
time=["10","30","60"]

In [5]:
part1="https://api.mapbox.com/isochrone/v1/mapbox/"
part2="?contours_minutes="
part3="&contours_colors=6706ce&polygons=true&access_token=pk.eyJ1IjoiY3VydmlubGVhdGhhbSIsImEiOiJGMXVtM2JzIn0.pUbDx_ITAx-VQzb0Z1Mkew"

In [6]:
areas10=[]
for i in range(22):
    core=cores[i]
    url=part1+"driving/"+core+part2+"10"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas10.append(abs(polygon_area(coor)))

In [7]:
areas30=[]
for i in range(22):
    core=cores[i]
    url=part1+"driving/"+core+part2+"30"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas30.append(abs(polygon_area(coor)))

In [8]:
areas60=[]
for i in range(22):
    core=cores[i]
    url=part1+"driving/"+core+part2+"60"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas60.append(abs(polygon_area(coor)))

In [9]:
zip_code=['20001','20002','20003','20004','20005','20006','20007','20008','20009','20010','20011','20012',
         '20015','20016','20017','20018','20019','20020','20024','20032','20036','20037']

In [10]:
driving=pd.DataFrame(zip_code,columns={"Zip Code"})

In [11]:
driving["Area of 10 mins"]=areas10
driving["Area of 30 mins"]=areas30
driving["Area of 60 mins"]=areas60

In [12]:
driving

   Zip Code  Area of 10 mins  Area of 30 mins  Area of 60 mins
0     20001         0.001092         0.074781         0.687551
1     20002         0.001413         0.073840         0.647666
2     20003         0.001985         0.114115         0.803254
3     20004         0.001434         0.099716         0.784870
4     20005         0.001302         0.077236         0.703968
5     20006         0.001465         0.089054         0.758935
6     20007         0.000923         0.058237         0.622148
7     20008         0.002195         0.058046         0.659854
8     20009         0.001025         0.044715         0.584897
9     20010         0.000981         0.029911         0.522874
10    20011         0.001920         0.044620         0.560130
11    20012         0.002531         0.072926         0.696446
12    20015         0.002568         0.056602         0.617861
13    20016         0.002119         0.052815         0.605383
14    20017         0.002162         0.047990         0.568292
15    20018         0.002352         0.085211         0.663968
16    20019         0.002346         0.089480         0.697768
17    20020         0.000781         0.075480         0.674943
18    20024         0.001832         0.118554         0.821715
19    20032         0.001408         0.105972         0.756078
20    20036         0.001063         0.057655         0.643045
21    20037         0.001142         0.085362         0.742502

In [13]:
driving.to_csv("Driving Area.csv",index=False)

In [14]:
areas10b=[]
for i in range(22):
    core=cores[i]
    url=part1+"cycling/"+core+part2+"10"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas10b.append(abs(polygon_area(coor)))

In [15]:
areas30b=[]
for i in range(22):
    core=cores[i]
    url=part1+"cycling/"+core+part2+"30"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas30b.append(abs(polygon_area(coor)))

In [16]:
areas60b=[]
for i in range(22):
    core=cores[i]
    url=part1+"cycling/"+core+part2+"60"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas60b.append(abs(polygon_area(coor)))

In [17]:
cycling=pd.DataFrame(zip_code,columns={"Zip Code"})

In [18]:
cycling["Area of 10 mins"]=areas10b
cycling["Area of 30 mins"]=areas30b
cycling["Area of 60 mins"]=areas60b

In [19]:
cycling.to_csv("Cycling Area.csv",index=False)

In [21]:
areas10c=[]
for i in range(22):
    core=cores[i]
    url=part1+"walking/"+core+part2+"10"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas10c.append(abs(polygon_area(coor)))

In [22]:
areas30c=[]
for i in range(22):
    core=cores[i]
    url=part1+"walking/"+core+part2+"10"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas30c.append(abs(polygon_area(coor)))

In [23]:
areas60c=[]
for i in range(22):
    core=cores[i]
    url=part1+"walking/"+core+part2+"10"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas60c.append(abs(polygon_area(coor)))

In [24]:
walking=pd.DataFrame(zip_code,columns={"Zip Code"})

In [25]:
walking["Area of 10 mins"]=areas10c
walking["Area of 30 mins"]=areas30c
walking["Area of 60 mins"]=areas60c

In [26]:
walking.to_csv("Walking Area.csv",index=False)

In [27]:
walking

   Zip Code  Area of 10 mins  Area of 30 mins  Area of 60 mins
0     20001         0.000145         0.000145         0.000145
1     20002         0.000148         0.000148         0.000148
2     20003         0.000142         0.000142         0.000142
3     20004         0.000161         0.000161         0.000161
4     20005         0.000187         0.000187         0.000187
5     20006         0.000156         0.000156         0.000156
6     20007         0.000071         0.000071         0.000071
7     20008         0.000115         0.000115         0.000115
8     20009         0.000130         0.000130         0.000130
9     20010         0.000147         0.000147         0.000147
10    20011         0.000173         0.000173         0.000173
11    20012         0.000095         0.000095         0.000095
12    20015         0.000159         0.000159         0.000159
13    20016         0.000120         0.000120         0.000120
14    20017         0.000129         0.000129         0.000129
15    20018         0.000139         0.000139         0.000139
16    20019         0.000148         0.000148         0.000148
17    20020         0.000044         0.000044         0.000044
18    20024         0.000109         0.000109         0.000109
19    20032         0.000106         0.000106         0.000106
20    20036         0.000148         0.000148         0.000148
21    20037         0.000088         0.000088         0.000088

In [20]:
cycling

   Zip Code  Area of 10 mins  Area of 30 mins  Area of 60 mins
0     20001         0.001473         0.013130         0.050332
1     20002         0.001433         0.012899         0.050477
2     20003         0.001527         0.010546         0.047009
3     20004         0.001355         0.011703         0.051098
4     20005         0.001765         0.013936         0.053331
5     20006         0.001278         0.012825         0.050330
6     20007         0.000854         0.010906         0.045312
7     20008         0.001467         0.014723         0.048765
8     20009         0.001633         0.014458         0.052124
9     20010         0.001516         0.015335         0.049685
10    20011         0.001591         0.015743         0.048301
11    20012         0.001382         0.015277         0.046023
12    20015         0.001481         0.015369         0.049684
13    20016         0.001608         0.012971         0.048851
14    20017         0.001601         0.012948         0.044839
15    20018         0.001558         0.013398         0.044924
16    20019         0.001449         0.011603         0.036296
17    20020         0.000998         0.009681         0.033401
18    20024         0.001038         0.010046         0.049511
19    20032         0.000884         0.008657         0.034380
20    20036         0.001576         0.013757         0.052082
21    20037         0.001057         0.011156         0.045544