In [1]:
import requests 
import pandas as pd
import json
import numpy as np

In [2]:
def polygon_area(points):
    area = 0
    q = points[-1]
    for p in points:
        area += p[0] * q[1] - p[1] * q[0]
        q = p
    return area / 2

In [3]:
cores=["-77.018798,38.910730","-76.984152,38.904466","-76.991153,38.880580","-77.026214,38.895171",
      "-77.031821,38.905202","-77.042047,38.897675","-77.077305,38.913979","-77.059321,38.937563",
      "-77.036869,38.920003","-77.030272,38.933282","-77.023408,38.954521","-77.035392,38.977830",
      "-77.063297,38.966898","-77.092401,38.939452","-76.993028,38.938160","-76.971420,38.928633",
      "-76.937517,38.892334","-76.977764,38.860861","-77.021224,38.879790","-77.004226,38.832708",
      "-77.040762,38.908050","-77.052083,38.901120"]

In [4]:
profile=["driving/","walking/","cycling/"]
time=["10","30","60"]

In [5]:
part1="https://api.mapbox.com/isochrone/v1/mapbox/"
part2="?contours_minutes="
part3="&contours_colors=6706ce&polygons=true&access_token=pk.eyJ1IjoiY3VydmlubGVhdGhhbSIsImEiOiJGMXVtM2JzIn0.pUbDx_ITAx-VQzb0Z1Mkew"

In [6]:
areas10=[]
for i in range(22):
    core=cores[i]
    url=part1+"driving/"+core+part2+"10"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas10.append(abs(polygon_area(coor)))

In [7]:
areas30=[]
for i in range(22):
    core=cores[i]
    url=part1+"driving/"+core+part2+"30"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas30.append(abs(polygon_area(coor)))

In [8]:
areas60=[]
for i in range(22):
    core=cores[i]
    url=part1+"driving/"+core+part2+"60"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas60.append(abs(polygon_area(coor)))

In [9]:
zip_code=['20001','20002','20003','20004','20005','20006','20007','20008','20009','20010','20011','20012',
         '20015','20016','20017','20018','20019','20020','20024','20032','20036','20037']

In [10]:
driving=pd.DataFrame(zip_code,columns={"Zip Code"})

In [12]:
driving["Area of 10 mins"]=areas10
driving["Area of 30 mins"]=areas30
driving["Area of 60 mins"]=areas60

In [21]:
driving

   Zip Code  Area of 10 mins  Area of 30 mins  Area of 60 mins
0     20001         0.001482         0.109959         0.832469
1     20002         0.002623         0.114498         0.800907
2     20003         0.003052         0.168806         0.960835
3     20004         0.002440         0.138232         0.935553
4     20005         0.001620         0.110409         0.866877
5     20006         0.001932         0.118271         0.913086
6     20007         0.001200         0.087470         0.839097
7     20008         0.002823         0.092088         0.851457
8     20009         0.001183         0.067404         0.742823
9     20010         0.001199         0.049236         0.687602
10    20011         0.002555         0.071412         0.740177
11    20012         0.003191         0.107147         0.860959
12    20015         0.003394         0.093027         0.823967
13    20016         0.003009         0.085330         0.814256
14    20017         0.003170         0.089110         0.733129
15    20018         0.004605         0.132887         0.833895
16    20019         0.003430         0.132492         0.841484
17    20020         0.001138         0.110712         0.818118
18    20024         0.002700         0.160591         0.968336
19    20032         0.002887         0.152671         0.894327
20    20036         0.001413         0.090349         0.824889
21    20037         0.001899         0.121280         0.930382

In [13]:
driving.to_csv("Driving Area 10 am.csv",index=False)

In [14]:
areas10b=[]
for i in range(22):
    core=cores[i]
    url=part1+"cycling/"+core+part2+"10"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas10b.append(abs(polygon_area(coor)))

In [15]:
areas30b=[]
for i in range(22):
    core=cores[i]
    url=part1+"cycling/"+core+part2+"30"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas30b.append(abs(polygon_area(coor)))

In [16]:
areas60b=[]
for i in range(22):
    core=cores[i]
    url=part1+"cycling/"+core+part2+"60"+part3
    r=requests.get(url)
    a=json.loads(r.text)
    coor=a["features"][0]["geometry"]["coordinates"][0]
    polygon=np.array(coor)
    areas60b.append(abs(polygon_area(coor)))

In [17]:
cycling=pd.DataFrame(zip_code,columns={"Zip Code"})

In [18]:
cycling["Area of 10 mins"]=areas10b
cycling["Area of 30 mins"]=areas30b
cycling["Area of 60 mins"]=areas60b

In [19]:
cycling.to_csv("Cycling Area 10 am.csv",index=False)

In [20]:
cycling

   Zip Code  Area of 10 mins  Area of 30 mins  Area of 60 mins
0     20001         0.001379         0.012410         0.046211
1     20002         0.001421         0.012132         0.047818
2     20003         0.001423         0.010233         0.044316
3     20004         0.001348         0.011177         0.046958
4     20005         0.001793         0.013245         0.050142
5     20006         0.001285         0.012249         0.046741
6     20007         0.000849         0.010534         0.042366
7     20008         0.001465         0.014405         0.048161
8     20009         0.001633         0.014230         0.049308
9     20010         0.001526         0.015108         0.047125
10    20011         0.001590         0.015211         0.045808
11    20012         0.001392         0.014842         0.044338
12    20015         0.001472         0.014960         0.048231
13    20016         0.001563         0.012271         0.047098
14    20017         0.001505         0.012446         0.041277
15    20018         0.001440         0.012012         0.042280
16    20019         0.001447         0.011080         0.033971
17    20020         0.000995         0.009108         0.031082
18    20024         0.001036         0.009706         0.045188
19    20032         0.000892         0.008227         0.031707
20    20036         0.001589         0.013391         0.048948
21    20037         0.001064         0.010788         0.042638